<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mars Info</title>
    <!-- <link rel="stylesheet" href="reset.css"> -->
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>

    <div class="container-fluid">
        <div class="jumbotron text-center">
          <h1>Welcome to Mars!</h1>
          <p>Home of the Martians</p>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
    <img src='{{ mars.featured_img_url }}' alt="Featured Image">
    <h2>{{ mars.news_title }}</h2>
    <p>{{ mars.news_p }}</p>
    <div>
        {{ mars.mars_facts | safe }}
    </div>
    
</body>